* {
    box-sizing: border-box;
}
html {
    font-size: 14px;
    color: #01041aee;
}
body {
    font-family: "Merriweather", serif;   
}
.container{
    max-width: 700px;
    margin: 0 auto;
    padding: 1.1rem;
}

main.container {
    background: #f3f9ff;
}

header, .descr, footer {
    text-align: center;
}

header {
    background: #01041aee;
    color: #dedede;
}
header h1 {
    font-size: 16px;
}

h2, legend {
    font-size: 19px;
    font-weight: 900;
}
.descr{
    padding-bottom: 20px;
    border-bottom: solid 4px #000;
    margin-bottom: 3px;
}
.descr p {
    color: #a5a5a5;
}
fieldset {
    border: none;
    padding: 0;
}
.box {
    border-top: solid 2px #000;
    padding: 30px 0;
}

.box:nth-child(3) {
    background-color: #e6fbff;
}
label {
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
}
::placeholder {
    text-align: right;
    font-size: 14px;
    font-style: italic;
    color: #c8c1c1;
  }
.styles {
    display: block; 
    width: 100%;
    margin: 5px 0;
    padding: 20px; 
    background: #efefef;
    border: none;
    height: 60px;
    border-radius: 5px;
    transition: background-color 0.4s ease;
}

#state {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='100px' id='Capa_1' style='enable-background:new 0 0 46 100;' version='1.1' viewBox='0 0 46 100' width='46px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M22.998,0L0,36.498l46,0.004L22.998,0z M23.004,100L46,63.502L0,63.498L23.004,100z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
    color:#c8c1c1;
}

#state > optgroup {
    color: rgb(0, 0, 0) !important;
}


input#zip {
    width: 50%;
}
[type="checkbox"], [type="radio"] {
    margin: 10px 15px 10px 0;
}
textarea#topics {
    height: 100px;
}
button.styles {
    background: #44b9ae;
    color: white;
    font-size: 18px;
    height: 60px;
    margin: 0;
    cursor: pointer;
}

.newsletter {
    display: inline;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline-color:  rgb(5, 5, 48);
}

*:focus {
    background-color: #d8d8d8;
}

footer.container {
    color: #c8c1c1;
    font-style: italic;
    background: #f3f9ff;
}

footer > p {
    margin-top: 0;
}

/* When the browser is at least 768px and above */
@media (min-width: 768px) {
    .contact {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .contact input, .contact select {
        flex-basis: calc(75%);
    }
    .contact label  {
        flex-basis: calc(25%);
    }
    input#zip {
        flex-basis: calc(25%);
    }
    .box {
        padding-top: 50px;
    }
    .descr {
        padding-top: 20px;
    }
}