* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    color: #01041aee;
}
body {
    font-family: "Merriweather", serif;   
}
.container{
    max-width: 860px;
    margin: 0 auto;
    padding: 1rem;
}
header, .descr, footer {
    text-align: center;
}

header {
    background: #01041aee;
    color: #dedede;
}
header h1 {
    font-size: 16px;
}

h2, legend {
    font-size: 19px;
    font-weight: 900;
}
.descr{
    padding-bottom: 20px;
    border-bottom: solid 4px #000;
    margin-bottom: 3px;
}
.descr p {
    color: #a5a5a5;
}
fieldset {
    border: none;
    padding: 20px 0;
}
.box{
border-top: solid 2px #000;
padding-top: 20px;
}
label {
    display: block;
}
.styles {
    display: block; 
    width: 100%;
    margin: 5px 0;
    padding: 8px; 
    font-size: 18px;
    background: #eee;
    border: none;
    height: 50px;
    border-radius: 5px;
}
input#zip {
    width: 50%;
}
[type="checkbox"], [type="radio"] {
    margin-right: 15px;
}

.newsletter {
    display: inline;
}